<script src="{{ "/assets/carousel/slick/slick.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/carousel/slick/slick-init.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/assets/featherlight/release/featherlight.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/featherlight/release/featherlight.gallery.min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/assets/featherlight/assets/javascripts/featherlight-init.js" | prepend: site.baseurl }}">
