<section class="slick-wrapper">
    <ul class="slick-01">
    
        <div><a  href="#fb-install-01" class="fb-gallery">
            <img data-lazy="{{ site.url }}assets/img/artworks/woosh/woosh-01-sqr.jpg" alt="Installation Shot"/></a></div>
        <div><a  href="#fb-install-02" class="fb-gallery">
            <img data-lazy="{{ site.url }}assets/img/artworks/woosh/woosh-02-sqr.jpg" alt="Installation Shot"/></a></div>
        <div><a  href="#fb-install-03" class="fb-gallery">
            <img data-lazy="{{ site.url }}assets/img/artworks/woosh/woosh-03-sqr.jpg" alt="Installation Shot"/></a></div>
        <div><a  href="#fb-install-04" class="fb-gallery">
            <img data-lazy="{{ site.url }}assets/img/artworks/woosh/woosh-04-sqr.jpg" alt="Installation Shot"/></a></div>
        <div><a  href="#fb-install-05" class="fb-gallery">
            <img data-lazy="{{ site.url }}assets/img/artworks/woosh/woosh-05-sqr.jpg" alt="Installation Shot"/></a></div>
        <div><a  href="#fb-install-06" class="fb-gallery">
            <img data-lazy="{{ site.url }}assets/img/artworks/woosh/woosh-06-sqr.jpg" alt="Installation Shot"/></a></div>
        <div><a  href="#fb-install-07" class="fb-gallery">
            <img data-lazy="{{ site.url }}assets/img/artworks/woosh/woosh-07-sqr.jpg" alt="Installation Shot"/></a></div> 
        <div><a  href="#fb-install-08" class="fb-gallery">
            <img data-lazy="{{ site.url }}assets/img/artworks/woosh/woosh-08-sqr.jpg" alt="Installation Shot"/></a></div> 
        <div><a  href="#fb-douglas" class="fb-gallery">
            <img data-lazy="{{ site.url }}assets/img/artworks/woosh/douglas-sqr.jpg" alt="Stan Douglas" width="180px"/></a></div>
        <div><a  href="#fb-horowitz" class="fb-gallery">
            <img data-lazy="{{ site.url }}assets/img/artworks/woosh/horowitz-sqr.jpg" alt="Jonathan Horowitz" width="180px"/></a></div>
        <div><a  href="#fb-jaar" class="fb-gallery">
            <img data-lazy="{{ site.url }}assets/img/artworks/woosh/jaar-sqr.jpg" alt="Alfredo Jaar" width="180px"/></a></div>
        <div><a  href="#fb-shearer" class="fb-gallery">
            <img data-lazy="{{ site.url }}assets/img/artworks/woosh/shearer-sqr.jpg" alt="Stephen Shearer" width="180px"/></a></div> 
        
    </ul>

    <div style="display: none;">
        <div id="fb-install-01" style="max-width: 800px;">
            <img src="{{ site.url }}assets/img/artworks/woosh/woosh-01.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            Installation shot. From left to right:<br /><br />

            <strong>Kris Martin</strong><br>
            <em>Do Not Cross the Red Line</em>, 2012<br>
            metal sign, red tape<br>
            dim<br><br>

            <strong>Liz Magor</strong><br>
            <em>KD- The Original</em>, 2000<br>
            silicon rubber, food<br>
            dim<br><br>

            
            </span></div>
        </div>
        <div id="fb-install-02" style="max-width: 800px;">
            <img src="{{ site.url }}assets/img/artworks/woosh/woosh-02.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            Installation shot. From left to right:<br /><br />

            <div class="row">

            <div class="col-md-3">
            <strong>Ron Terada</strong><br>
            <em>Jeopardy</em>, 1998<br>
            acrylic on canvas<br>
            dim<br><br>
            </div>

            <div class="col-md-3">
            <strong>Ian Wallace</strong><br>
            <em>Magazine Piece</em>, 1969/2015<br>
            magazine, tape<br>
            dim<br><br>
            </div>

            <div class="col-md-3">
            <strong>Santiago Sierra</strong><br>
            <em>NO</em>, 2009<br>
            mahogany<br>
            dim<br><br>
            </div>

            <div class="col-md-3">
            <strong>Steven Shearer</strong><br>
            <em>Diabolical Conquest</em>, 1997<br>
            silkscreen on canvas<br>
            dim<br><br>
            </div>

            </div>
            </span></div>
        </div>
        <div id="fb-install-03" style="max-width: 800px;">
            <img src="{{ site.url }}assets/img/artworks/woosh/woosh-03.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">


            Installation shot. From left to right:<br /><br />

            
            <strong>Liz Magor</strong><br>
            <em>KD- The Original</em>, 2000<br>
            silicon rubber, food<br>
            dim<br><br>

            <strong>Tatiana Trouve</strong><br>
            <em>29.08.1924</em>, 2010<br>
            bronze, paint<br>
            dim<br><br>

            <strong>Stan Douglas</strong><br>
            <em>Ballantyne Pier, 18 June 1935</em>, 2008<br>
            digital C-print mounted on dibond<br>
            dim<br><br>

            <strong>Jonathan Horowitz</strong><br>
            <em>Official Portrait of George W Bush Available for <br>
            Free From the White House Hung Upside Down</em>, 2001<br>
            framed c-print, ink<br>
            dim<br><br>

            <strong>Alicja Kwade</strong><br>
            <em>17.08.1931</em>, 2012<br>
            mirror bronze<br>
            dim<br><br>

            <strong>Jason Dodge</strong><br>
            In Yerevan, Tumanyan, Armenia, Anijk Voskanyan <br>
            wove woolen yarn the color of night time sky and <br>
            the length from the earth to above the weather




            
            </span></div>
        </div>
        <div id="fb-install-04" style="max-width: 800px;">
            <img src="{{ site.url }}assets/img/artworks/woosh/woosh-04.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            Installation shot. From left to right:<br /><br />

            <strong>Ian Wallace</strong><br>
            <em>Magazine Piece</em>, 1969/2015<br>
            magazine, tape<br>
            dim<br><br>

            <strong>Santiago Sierra</strong><br>
            <em>NO</em>, 2009<br>
            mahogany<br>
            dim<br><br>

            <strong>Steven Shearer</strong><br>
            <em>Diabolical Conquest</em>, 1997<br>
            silkscreen on canvas<br>
            dim<br><br>

            <strong>Yevgeniy Fiks</strong><br>
            <em>Adopt Lenin, yf2008-015</em>, 2008<br>
            metal head, shelf, adoption papers<br>
            dim<br><br>

            <strong>Santiago Sierra</strong><br>
            <em>100 Beggars, Plaza Estudiantes, Mexico City</em>, 2005<br>
            digital C-prints<br>
            dim
    
            </span></div>
        </div>
        <div id="fb-install-05" style="max-width: 800px;">
            <img src="{{ site.url }}assets/img/artworks/woosh/woosh-05.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            Installation shot. From left to right:<br /><br />

            <strong>Johannes Wohnseifer</strong><br>
            <em>Spam Painting #13</em>, 2005<br>
            acrylic on aluminum<br>
            dim<br><br>

            <strong>Kelly Mark</strong><br>
            <em>1000 Cast Iron Hits</em>, 1996<br>
            cast iron<br>
            dim<br><br>

            <strong>Ron Terada</strong><br>
            <em>Jeopardy</em>, 1998<br>
            acrylic on canvas<br>
            dim<br><br>


            
            </span></div>
        </div>
        <div id="fb-install-06" style="max-width: 800px;">
            <img src="{{ site.url }}assets/img/artworks/woosh/woosh-06.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">


            Installation shot. From left to right:<br /><br />

            <strong>Steven Shearer</strong><br>
            <em>Diabolical Conquest</em>, 1997<br>
            silkscreen on canvas<br>
            dim<br><br>

            <strong>Yevgeniy Fiks</strong><br>
            <em>Adopt Lenin, yf2008-015</em>, 2008<br>
            metal head, shelf, adoption papers<br>
            dim<br><br>

            <strong>Santiago Sierra</strong><br>
            <em>100 Beggars, Plaza Estudiantes, Mexico City</em>, 2005<br>
            digital C-prints<br>
            dim<br><br>


            
            </span></div>
        </div>
        <div id="fb-install-07" style="max-width: 800px;">
            <img src="{{ site.url }}assets/img/artworks/woosh/woosh-07.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            Installation shot. From left to right:<br /><br />

            <strong>Alicja Kwade</strong><br>
            <em>17.08.1931</em>, 2012<br>
            mirror bronze<br>
            dim<br><br>

            
            </span></div>
        </div>
        <div id="fb-install-08" style="max-width: 800px;">
            <img src="{{ site.url }}assets/img/artworks/woosh/woosh-08.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            Installation shot. From left to right:<br /><br />

            <strong>John McCracken</strong><br>
            <em>Woosh</em>, 1995<br>
            polyester resin, fibreglas, resin<br>
            dim<br><br>

            <strong>Pier Paulo Calzolari</strong><br>
            <em>Untitled</em>, 1989<br>
            Burnt salt, burnt felt, dyes, lead, refrigeration unit<br>
            dim<br><br>

            <strong>Andrew Dadson</strong><br>
            <em>White Re-Stretched (Silver)</em>, 2014<br>
            oil on linen<br>
            dim<br><br>

            <strong>Carsten Nicolai</strong><br>
            <em>Milch 20 hz</em>, 2011<br>
            pigment print<br>
            dim<br><br>


            </span></div>
        </div>
        <div id="fb-douglas" style="max-width: 1000px;">
            <img src="{{ site.url }}assets/img/artworks/woosh/Douglas.jpg" alt="Sarah Cain" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            <strong>Stan Douglas</strong><br>
            <em>Ballantyne Pier, 18 June 1935</em>, 2008<br>
            digital C-print mounted on dibond
            </span></div>
                
        </div>
        <div id="fb-horowitz" style="max-width: 800px;">
            <img src="{{ site.url }}assets/img/artworks/woosh/Horowitz.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">
            
            <strong>Jonathan Horowitz</strong><br>
            <em>Official Portrait of George W Bush Available for Free From <br>
            the White House Hung Upside Down</em>, 2001<br>
            framed c-print
            </span></div>
        </div>
        <div id="fb-jaar" style="max-width: 800px;">
            <img src="{{ site.url }}assets/img/artworks/woosh/jaar.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            
            <strong>Alfredo Jaar</strong><br>
            <em>Three Women</em>, 2010<br>
            18 spotlights, 3 photographs
            </span></div>
        </div>
        <div id="fb-shearer" style="max-width: 800px;">
            <img src="{{ site.url }}assets/img/artworks/woosh/shearer-install.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            <strong>Steven Shearer</strong><br>
            <em>Diabolical Conquest</em>, 1997<br>
            silkscreen on canvas
            </span></div>
        </div>
        
        
    </div>
</section>
<br />




