<section class="tt-grid-wrapper">
    <ul class="tt-grid tt-effect-flip">
        <li><a href="#"><img src="{{ site.url }}assets/img/artworks/MacLeod-sqr.jpg" alt="Myfanwy MacLeod"/></a></li>
        <li><a href="#"><img src="{{ site.url }}assets/img/artworks/beasley-sqr.jpg" alt="Kevin Beasley"/></a></li>
        <li><a href="#"><img src="{{ site.url }}assets/img/artworks/beshty-sqr.jpg" alt="Walead Beshty"/></a></li>
        <li><a href="#"><img src="{{ site.url }}assets/img/artworks/martin-sqr.jpg" alt="Kris Martin"/></a></li>
        <li><a href="#"><img src="{{ site.url }}assets/img/artworks/pascual-sqr.jpg" alt="Marlo Pascual"/></a></li>
    </ul>
    <nav>
        <a class="tt-current">1</a><a>2</a><a>3</a><a>4</a>
    </nav>
</section>
<br />