<section class="slick-wrapper">
    <ul class="slick-01">
    
        <div><a  href="#fb-cain" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals00.jpg" alt="Sarah Cain"/></a></div>
        <div><a  href="#fb-install-01" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals01.jpg" alt="Installation Shot"/></a></div>
        <div><a  href="#fb-install-02" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals02.jpg" alt="Installation Shot"/></a></div>
        <div><a  href="#fb-install-03" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals03.jpg" alt="Installation Shot"/></a></div>
        <div><a  href="#fb-install-04" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals04.jpg" alt="Installation Shot"/></a></div>
        <div><a  href="#fb-install-05" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals05.jpg" alt="Installation Shot"/></a></div>
        <div><a  href="#fb-install-06" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals06.jpg" alt="Installation Shot"/></a></div>
        <div><a  href="#fb-install-07" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals07.jpg" alt="Installation Shot"/></a></div> 
        <div><a  href="#fb-install-08" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals08.jpg" alt="Installation Shot"/></a></div> 
        <div><a  href="#fb-macleod" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals09.jpg" alt="Myfanwy MacLeod"/></a></div>
        <div><a  href="#fb-beasley" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals10.jpg" alt="Kevin Beasley"/></a></div>
        <div><a  href="#fb-beshty" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals11.jpg" alt="Walead Beshty"/></a></div>
        <div><a  href="#fb-martin" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals12.jpg" alt="Kris Martin"/></a></div>
        <div><a  href="#fb-pascual" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals13.jpg" alt="Marlo Pascual"/></a></div>
        <div><a  href="#fb-pascual" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals14.jpg" alt="Marlo Pascual"/></a></div>
        <div><a  href="#fb-pascual" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals15.jpg" alt="Marlo Pascual"/></a></div>
        <div><a  href="#fb-pascual" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals16.jpg" alt="Marlo Pascual"/></a></div>
        <div><a  href="#fb-pascual" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals17.jpg" alt="Marlo Pascual"/></a></div>
        <div><a  href="#fb-pascual" class="fb-gallery">
            <img data-lazy="{{ site.url }}/assets/img/events/vickers/portals1.8jpg" alt="Marlo Pascual"/></a></div>

        

        


    </ul>

    <div style="display: none;">
        <div id="fb-cain" style="max-width: 800px;">
            <img src="{{ site.url }}/assets/img/events/vickers/portals00.jpg" alt="Sarah Cain" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            <strong>Sarah Cain</strong><br>
            <em>Self-portrait</em>, 2010<br>
            acrylic and gouache on sheet music<br>
            23 3/8 x 18 3/8 in.
            </span></div>
                
        </div>
        <div id="fb-install-01" style="max-width: 800px;">
            <img src="{{ site.url }}/assets/img/artworks/surrogates/surrogates-01.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">
            Installation shot. From left to right:<br /><br />
        <div class="row">

            <div class="col-md-6">
            <strong>Mariah Robertson</strong><br>
            <em>59</em>, 2011<br>
            unique chemical treatment on RA-4 paper<br>
            86 x 53 in. <br> <br />
            </div>
            
            <div class="col-md-6">
            <strong>Kevin Beasley</strong><br>
            <em>Untitled</em>, 2014<br>
            polyurethane foam, t-shirts, resin<br>
            [15 x 11.5 x 6 in.] x 2
            </div>
        </div>
            </span></div>
        </div>
        <div id="fb-install-02" style="max-width: 800px;">
            <img src="{{ site.url }}/assets/img/artworks/surrogates/surrogates-02.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            Installation shot. From left to right:<br /><br />
        <div class="row">

            <div class="col-md-4">
            <strong>Annette Kelm</strong><br>
            <em>Anonymous, Lilac Clock Bag Buffalo Exchange</em>, 2007<br>
            c-prints on Alu-dibond<br>
            [19 x 23 in.] x 4<br> <br />
            </div>
            
            <div class="col-md-4">
            <strong>Stephen Waddell</strong><br>
            <em>Pile</em>, 2006<br>
            inkjet print<br>
            48 x 56 in.
            <br> <br />
            </div>

            <div class="col-md-4">
            <strong>Kris Martin</strong><br>
            <em>Entscheidungszwanghorror</em>, 2014<br>
            bronze<br>
            11 7/16 x 5 15/16 x 7 7/8 in.
            </div>
        </div>
            </span></div>
        </div>
        <div id="fb-install-03" style="max-width: 800px;">
            <img src="{{ site.url }}/assets/img/artworks/surrogates/surrogates-03.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            Installation shot. From left to right:<br /><br />
        <div class="row">
            <div class="col-md-4">
            <strong>Marlo Pascual</strong><br>
            <em>Untitled</em>, 2009<br>
            digital c-print, potted plant<br>
            38 x 53 x 36 in.<br><br>
            </div>

            <div class="col-md-4">
            <strong>Owen Kydd</strong><br>
            <em>Heavy Water</em>, 2015<br>
            video on square digital display with media player<br>
            16 1/4 x 16 1/4 x 7 in.<br><br>
            </div>

            <div class="col-md-4">
            <strong>Walead Beshty</strong><br>
            <em>Four Magnet, Three Color Curl (CMY: Irvine, California, September 13th 2009, 
            Fuji Crystal Archive Type C) / Abstract (Four Magnet, Three Color Curl (CMY: Irvine, 
            California, September 13th 2009, Fuji Crystal Archive Type C)</em>, 2012<br>
            colour photographic paper<br>
            50 x 107 in. and 30 x 40 in.
            </div>
        </div>
            </span></div>
        </div>
        <div id="fb-install-04" style="max-width: 500px;">
            <img src="{{ site.url }}/assets/img/artworks/surrogates/surrogates-04.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            Installation shot. From left to right:<br /><br />
        <div class="row">
            <div class="col-md-4">
            <strong>Kim Kennedy Austin</strong><br>
            <em>Audel’s Answers on Blue Print Reading</em>, 2006<br>
            embroidery floss and masking tape on cross-stitched fabric<br>
            20 x 15 in<br><br>
            </div>

            <div class="col-md-4">
            <strong>Tim Lee</strong><br>
            <em>Alexander Rodchenko, Spacial Construction No. 11, Square in Square, 1918</em>, 2013<br>
            wood<br><br>
            </div>

            <div class="col-md-4">
            <strong>Geoffrey Farmer</strong><br>
            <em>Sagger-Safers, Saddled, Stoned and Sanguine</em>, 2013<br>
            paper cutouts, wood, glass paint bottle<br>
            15 x 9 x 6 in.
            </div>
        </div>
            </span></div>
        </div>
        <div id="fb-install-05" style="max-width: 800px;">
            <img src="{{ site.url }}/assets/img/artworks/surrogates/surrogates-05.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            Installation shot. From left to right:<br /><br />
        <div class="row">
            <div class="col-md-6">
            <strong>Walead Beshty</strong><br>
            <em>Four Magnet, Three Color Curl (CMY: Irvine, California, September 13th 2009, 
            Fuji Crystal Archive Type C) / Abstract (Four Magnet, Three Color Curl (CMY: Irvine, 
            California, September 13th 2009, Fuji Crystal Archive Type C)</em>, 2012<br>
            colour photographic paper<br>
            50 x 107 in. and 30 x 40 in.<br><br>
            </div>

            <div class="col-md-6">
            <strong>Myfanwy MacLeod</strong><br>
            <em>Exorcist series</em>, 2009<br>
            cut film posters<br>
            [33 x 33 inches] x 3<br><br>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
            <strong>Kim Kennedy Austin</strong><br>
            <em>Clear Eyes, Full Hearts, Can’t Lose</em>, 2014<br>
            watercolour on paper<br>
            14 1/2 x 17 3/4 in.<br><br>
            </div>

            <div class="col-md-6">
            <strong>Kris Martin</strong><br>
            <em>Entscheidungszwanghorror</em>, 2014<br>
            bronze
            11 7/16 x 5 15/16 x 7 7/8 in.
            </div>
        </div>
            </span></div>
        </div>
        <div id="fb-install-06" style="max-width: 800px;">
            <img src="{{ site.url }}/assets/img/artworks/surrogates/surrogates-06.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">


            Installation shot. From left to right:<br /><br />
        <div class="row">

            <div class="col-md-6">
            <strong>Lyman A. William</strong><br>
            <em>The Road through the Forest</em>, 2008<br>
            mixed media<br><br>
            </div>

            <div class="col-md-6">
            <strong>Rodney Graham</strong><br>
            <em>Pipecleaner Artist</em>, 2013<br>
            painted aluminum lightbox, transmounted chromogenic transparency<br>
            [90 5/8 x 146 1/4 x 7 in.] x 2
            </div>
        </div>
            </span></div>
        </div>
        <div id="fb-install-07" style="max-width: 800px;">
            <img src="{{ site.url }}/assets/img/artworks/surrogates/surrogates-07.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            Installation shot. From left to right:<br /><br />
        <div class="row">

            <div class="col-md-6">
            <strong>Kim Kennedy Austin</strong><br>
            <em>Clear Eyes, Full Hearts, Can’t Lose</em>, 2014<br>
            watercolour on paper<br>
            14 1/2 x 17 3/4 in.<br><br>
            </div>

            <div class="col-md-6">
            <strong>Kris Martin</strong><br>
            <em>Entscheidungszwanghorror</em>, 2014<br>
            bronze<br>
            11 7/16 x 5 15/16 x 7 7/8 in.
            </div>
        </div>
            </span></div>
        </div>
        <div id="fb-install-08" style="max-width: 800px;">
            <img src="{{ site.url }}/assets/img/artworks/surrogates/surrogates-08.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            <strong>Simon Starling</strong><br>
            <em>Inventar –Nr. 8573 (Man Ray), 4M – 400 NM</em>, 2006<br>
            80 6 x 7 cm. black and white transparencies, 2 Gotschmann slide projectors, <br>
            Kodak PDC dissolve control unit, CD and player, projector table
            </span></div>
        </div>
        <div id="fb-macleod" style="max-width: 800px;">
            <img src="{{ site.url }}/assets/img/artworks/surrogates/MacLeod-2009.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            <strong>Myfanwy MacLeod</strong><br>
            <em>Exorcist series</em>, 2009<br>
            cut film posters<br>
            [33 x 33 inches] x 3
            </span></div>
        </div>
        <div id="fb-beshty" style="max-width: 800px;">
            <img src="{{ site.url }}/assets/img/artworks/surrogates/Beshty-2012-520.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            <strong>Walead Beshty</strong><br>
            <em>Four Magnet, Three Color Curl (CMY: Irvine, California, <br>
            September 13th 2009, Fuji Crystal Archive Type C) / Abstract <br>
            (Four Magnet, Three Color Curl (CMY: Irvine, California, <br>
            September 13th 2009, Fuji Crystal Archive Type C)</em>, 2012<br>
            colour photographic paper<br>
            50 x 107 in. and 30 x 40 in.
            </span></div>
        </div>
        <div id="fb-beasley" style="max-width: 800px;">
            <img src="{{ site.url }}/assets/img/artworks/surrogates/Beasley-2014.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

           <strong>Kevin Beasley</strong><br>
            <em>Untitled</em>, 2014<br>
            polyurethane foam, t-shirts, resin<br>
            [15 x 11.5 x 6 in.] x 2
            </span></div>
        </div>
        <div id="fb-martin" style="max-width: 800px;">
            <img src="{{ site.url }}/assets/img/artworks/surrogates/Martin-391x520.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            <strong>Kris Martin</strong><br>
            <em>Entscheidungszwanghorror</em>, 2014<br>
            bronze<br>
            11 7/16 x 5 15/16 x 7 7/8 in.
            </span></div>
        </div>
        <div id="fb-pascual" style="max-width: 800px;">
            <img src="{{ site.url }}/assets/img/artworks/surrogates/Pascual-624x520.jpg" alt="Installation" />
            <div >
            <br />
            <span class="artcaption" style="font-size: 10pt; color: #808080">

            <strong>Marlo Pascual</strong><br>
            <em>Untitled</em>, 2009<br>
            digital c-print, potted plant<br>
            38 x 53 x 36 in.
            </span></div>
        </div>
    </div>
</section>
<br />




