<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.url }}"><img src="{{ site.url }}/assets/img/logo.png" alt="{{ site.title }}" width="258px" height="56px"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{{ site.baseurl }}/about">About</a></li>
              <li><a href="{{ site.baseurl }}/exhibitions">Exhibitions</a></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exhibitions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/exhibitions">List of Exhibitions</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Recent Exhibitions</li>
                <li><a href="#">Surrogates</a></li>
                <li><a href="#">WOOSH</a></li>
              </ul>
            </li>
              <li><a href="{{ site.baseurl }}/events">Events</a></li>
              <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>{% include icon-facebook.html %}</li>
              <li>{% include icon-instagram.html %}</li>
              <li>{% include icon-twitter.html %}</li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>